body {
  background-color: maroon;
}
h1 {
  color: grey;
  display: block;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}
h2 {
  color: grey;
  display: block;
  width: 800px;
  font-style: oblique;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: grey;
  display: block;
  width: 800px;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
canvas {
  background-color: whitesmoke;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}
#leftAd {
  background-color: aquamarine;
  color: coral;
  width: 300px;
  height: 800px;
  line-height: 800px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  font-size: 40px;
  float: left;
}
#rightAd {
  background-color: aquamarine;
  color: coral;
  width: 300px;
  height: 800px;
  line-height: 800px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  font-size: 40px;
  float: right;
}